<p id"notice"><%= notice %></p>

<div class="title">
<h1>Recipes on Rails</h1>
</div>

<br/>

<div class="subtitle">
<h2>liste de recette</h2>
</div>

<div class="New">
<%= link_to 'Nouvelle Recette', new_recipe_path, class: 'btn btn-primary' %>
</div>

<div class="list">
<table>

</br>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap" rel="stylesheet">


<div class="row row-cols-1 row-cols-md-3 g-3">
  <% @recipes.each do |recipe| %>
    <div class="col mb-3">
      <div class="card">
        <%= image_tag recipe.image, class:'card-img-top' if recipe.image.start_with?('http') %>
        <div class="card-body">
          <h5 class="card-title"><%= recipe.title %></h5>
          <%= link_to 'Voir', recipe, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
