<br/>
<div class="title">
<h1>Recipes on Rails</h1>
</div>

<br/>


<p id="notice"><%= notice %></p>

<p>

  <%= @recipe.title %>
</p>

<p>

  <%= image_tag @recipe.image, class:'image' %>

</p>

<p>

  <%= @recipe.description %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Recette:</strong>
  <%= @recipe.steps %>
</p>



<%= link_to 'Edit', edit_recipe_path(@recipe), class: 'btn btn-primary' %>
<%= link_to 'Back', recipes_path, class: 'btn btn-primary' %>
